fastapi==0.129.0
uvicorn==0.41.0
mangum
langchain==1.2.10
langchain-core==1.2.13
langchain-groq==1.1.2
langchain-mongodb==0.8.0
python-dotenv==1.2.1
pymongo==4.9.2
motor==3.6.0
pydantic==2.12.5
pydantic-settings
